<div id="botonUsuario"  boton-usuario class="dis" ng-view="">
	<button class="ama-nar btn-sec use">&nbsp;</button>
	<div class="menu">
		<div>
			<span id="usuarioRegistrado" class="glyphicon glyphicon-user" aria-hidden="true"></span>{{vm.datosSesion.usuarioNombreCompleto}}
		</div>
		<div>
			<span id="prestadorRegistrado" class="glyphicon glyphicon-home" aria-hidden="true"></span>{{vm.datosSesion.lugarAtencionNombre}}
		</div>
		<button ng-click="modalBloquearCaja()">
			<span id="cerraSecion" class="glyphicon glyphicon-remove" aria-hidden="true"></span>Bloquear Caja
		</button>
	</div>
</div>
