<div class="col-xs-12 col-sm-12 col-me-12">

    <section id="Botones">
        <div id="BotonesA" class="col-xs-4 col-sm-4 col-me-4 seudoA cero nav-opc text-center ama-nar inactive-breadcrumbs" value="BotonesA"  >
            <span class="col-xs-12 col-sm-12 col-me-12 pad-sup">
                ATENCION</span>
        </div>
        <div id="BotonesB" class="col-xs-4 col-sm-4 col-me-4 seudoA cero nav-opc text-center ama-nar inactive-breadcrumbs"  value="BotonesB" ng-disabled="vm.atencion.datosAtencion.estadoAtencion === 'NUEVA'">
            <span class="col-xs-12 col-sm-12 col-me-12 pad-sup">
                PAGO</span>
        </div>
        <div id="BotonesC" class="col-xs-4 col-sm-4 col-me-4  seudoA cero nav-opc text-center ama-nar inactive-breadcrumbs" value="BotonesC"  ng-disabled="vm.atencion.datosAtencion.estadoAtencion != 'PAGADA' || vm.atencion.datosAtencion.estadoAtencion != 'CONFIRMADA' ">
            <span class="col-xs-12 col-sm-12 col-me-12 pad-sup">
                COMPROBANTE</span>
        </div>
    </section>
</div>
