<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>MEDIPASS</title>
    <meta name="viewport" content="width=device-width. user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="css/cop.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body onLoad="drawTableConsul(consultaProfesionales)">
    <div id='notas' class='bas_notas gri-gri' style="display:none;"></div>
    <header>
      <div id="header" class="container-fluid" >
        <div class="main row">
          <div class="col-xs-3 col-sm-3 col-me-3">
            <div class="width">
              <div class="row">
                <div class="logo"></div>
                <div class="titulo cero">SISTEMA DE BONO ELECTRONICO</div>
              </div>
            </div>
          </div>
          <div class="col-xs-9 col-sm-9 col-me-9 b">
            <a href="../ram/fuente/log.php">
              <button id="cancelarTransaccion" class="ama-nar btn-sec eli" onClick="cancelarTransaccion()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> SALIR COPAGO
              </button>
            </a>
            <div id="botonusuario" class="dis">
              <button class="ama-nar btn-sec use">&nbsp;</button>
              <div class="menu">
                <div><span id="usuarioRegistrado" class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                <div><span id="prestadorRegistrado" class="glyphicon glyphicon-home" aria-hidden="true"></span></div>
                <button onClick="cerraSecion()"><span id="cerraSecion" class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="formularioInicial" class="ubi container-fluid" >
        <div class="row pad-sup">
          <div class="col-xs-11 col-sm-11 col-me-6 disp">
            <div class="ico_seg"></div>
            <span id="financiador">Lugar de Atencion / Sucursal / Prestador</span>          </div>
            <div class="col-xs-1 col-sm-1 col-me-6"></div>
          </div>
          <div class="row pad-sup">
            <div class="col-xs-12 col-sm-6 col-me-6 pad-for-bo">
              <div class="col-xs-12 col-sm-4 colo-me-4 pad-for pad-for-r">
                <div>RANGOS DE FECHA</div>
                <div class="pad-sup pad-for-l"><select class="form-control select" title="Indica la Sucursal">
                  <option value='0'>DESDE</option>
                </select></div>
                <div class="pad-sup pad-for-l"><select class="form-control select" title="Indica el Lugar de Atención del Medico">
                  <option value='0'>HASTA</option>
                </select></div>
              </div>
              <div class="col-xs-12 col-sm-4 colo-me-4 pad-for-r pad-for-l">
                <div>TITULAR</div>
                <div class="pad-sup"><input id="" class="form-control"  placeholder="NOMBRE" title="Indica el Nombre del Medico"></div>
                <div class="pad-sup"><input id="" class="form-control"  placeholder="RUT" title="Indica el RUT del Medico"></div>
              </div>
              <div class="col-xs-12 col-sm-4 colo-me-4 pad-for-r pad-for-l">
                <div>DETALLE DE ATENCION</div>
                <div class="pad-sup"><input id="" class="form-control"  placeholder="ATENCION / BONO" title="Indica el numero de Atencion / Bono"></div>
                <div class="pad-sup"><input id="" class="form-control"  placeholder="MONTO" title="Indica el monto de la Atencion / Bono"></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-me-3 ">
              <div class="col-xs-12 col-sm-12 col-me-12">CONFIGURACION DE VISUALIZACION</div>
              <div class="col-xs-12 col-sm-6 colo-me-6 cero">
                <div style="display:none;">
                  <input type="checkbox" id="filtro0" onClick="ocultarColumna(0)" name="filtro1" disabled />
                  <label for="filtro0"><span>Estado</span></label>
                </div>
                <div style="display:none;">
                  <input type="checkbox" id="filtro1" onClick="ocultarColumna(1)" name="filtro2" disabled />
                  <label for="filtro2"><span>ACCION</span></label>
                </div>
                <div style="display:none;">
                  <input type="checkbox" id="filtro2" onClick="ocultarColumna(2)" name="filtro3" disabled />
                  <label for="filtro2"><span>N° Bono</span></label>
                </div>
                <div>
                  <input type="checkbox" id="filtro3" onClick="ocultarColumna(3)" name="filtro4" />
                  <label for="filtro3"><span>RUT Paciente</span></label>
                </div>
                <div>
                  <input type="checkbox" id="filtro4" onClick="ocultarColumna(4)" name="filtro5" />
                  <label for="filtro4"><span>Nombre</span></label>
                </div>
                <div>
                  <input type="checkbox" id="filtro5" onClick="ocultarColumna(5)" name="filtro6"/>
                  <label for="filtro5"><span>Fecha</span></label>
                </div>
                <div>
                  <input type="checkbox" id="filtro6" onClick="ocultarColumna(6)" name="filtro7" />
                  <label for="filtro6"><span>Financiador</span></label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 colo-me-6 cero">
                <div>
                  <input type="checkbox" id="filtro7" onClick="ocultarColumna(7)" name="filtro8" />
                  <label for="filtro7"><span>Monto</span></label>
                </div>
                <div>
                  <input type="checkbox" id="filtro8" onClick="ocultarColumna(8)" name="filtro9" />
                  <label for="filtro8"><span>Bonificación</span></label>
                </div>
                <div>
                  <input type="checkbox" id="filtro9" onClick="ocultarColumna(9)" name="filtro10"  />
                  <label for="filtro9"><span>Copago</span></label>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 colo-me-3 pad-for-bo text-center">
            </div>
          </div>
        </div>
      </header>
      <div  class="container-fluid table-responsive pad-bus altocontenedor definicion">
        COPAGOS
      </div>
      <div id="consulta" class="container-fluid table-responsive pad-bus altocontenedor" style="display:none">
        <table id="CON-T" class="col-xs-12 col-sm-12 col-me-12 CDV-T" >
          <thead>
            <tr class="tope text-center">
              <th class="text-center">ESTADO</th>
              <th class="text-center">ACCION</th>
              <th class="text-center">N° BONO</th>
              <th class="text-center">RUT PACIENTE</th>
              <th class="text-center">NOMBRE</th>
              <th class="text-center">FECHA</th>
              <th class="text-center">FINANCIADOR</th>
              <th class="text-center">MONTO</th>
              <th class="text-center">BONIFICACION</th>
              <th class="text-center">COPAGO</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="exportar">
        <div class="exe" title="Exportar a EXCEL"></div>
        <div class="pdf" title="Exportar a PDF"></div>
      </div>
    </body>
    <script>
    //la función recibe como parámetros el numero de la columna a ocultar
    function ocultarColumna(num,ver)
    {
    //aquí utilizamos el id de la tabla, en este caso es 'tabla'
    fila=document.getElementById('CON-T').getElementsByTagName('tr');
    //mostramos u ocultamos la cabecera de la columna
    if (fila[0].getElementsByTagName('th')[num].style.display=='none')
    {
    fila[0].getElementsByTagName('th')[num].style.display=''
    }
    else
    {
    fila[0].getElementsByTagName('th')[num].style.display='none'
    }
    //mostramos u ocultamos las celdas de la columna seleccionada
    for(i=1;i<fila.length;i++)
    {
    if (fila[i].getElementsByTagName('td')[num].style.display=='none')
    {
    fila[i].getElementsByTagName('td')[num].style.display='';
    }
    else
    {
    fila[i].getElementsByTagName('td')[num].style.display='none'
    }
    }
    }
    </script>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/numeral.js"></script>
    <script src="js/cop.js"></script>
  </html>