<div id="tocPaciente">
  <div class="huella"></div>
  <div class="container-fluid bg-greyb log-log altoA lin-bla">
    <div class="row center-blockb width">
      <div class="row">
        <div class="logo"></div>
        <div class="titulo cero">SISTEMA DE BONO ELECTRONICO</div>
      </div>
    </div>
    <div id="accionEnToc" class="text-center disab"></div>
    <div id="mensaje_exito" class="msn_exito_toc"></div>
    
    <img id="fingersToScanImage" src="scripts/toc_net/img/fingerprint.png" class="img_dedo_toc">
    
  </div>
</div>

<div id="sinAcentos" style="text-align:center;" class="alert alert-warning sinAcentos">Se han deshabilitado los acentos para las mayúsculas de forma intencional.
</div>
<div class="panel-footer abajo" id="id_botones_login">
  <button id="id_boton_login" type="button" ng-click="vm.confirmarToc(vm.$state.current.name)" class="btn btn-warning nar-narr" value= "CONFIRMAR"   style="display:none"></button>
  <br><br>
  <input name="campo_texto_rut-paciente" id="campo_texto_rut-paciente" placeholder="ej:10179892-5" value="20175624-3" type="text" style="margin-right:auto; margin-left:auto;display:none"><br><button style="float: right; width: 150px; background-color: rgb(255, 255, 255); margin-bottom: -20px; height: 50px; margin-right: -12px" ng-click="vm.confirmarToc(vm.$state.current.name)">&nbsp;&nbsp;</button>
  <div style="display:none">
    <div id="nombre_login">Pepe Particular</div><div id="apellido_login" >ApellidoPaterParticular ApellidoMaterParticular</div>
    <div id="id_rut_apertura_caja" ></div><div id="id_rut_nuevoOantiguo">nuevo</div>
  </div>
</div>
</div>
</div>
