<div class="container-fluid bg-greyb log-log altoA lin-bla">
  <div class="row center-blockb width">
    <div class="row">
      <div class="logo"></div>
      <div class="titulo cero">SISTEMA DE BONO ELECTRONICO</div>
    </div>
  </div>
  <div  class="text-center disab">INGRESE EL RUT DEL PACIENTE</div>
  <div id="mensaje_exito" style="width: 482px; height: 20px; color: #999; margin-right: auto; margin-left: auto;text-align:center;"></div>
  <div class="panel-footer identifica-paciente-sin-toc" id="id_botones_login">
    <button id="id_boton_login" type="button" ng-click="vm.confirmarToc('tocpaciente')" class="btn btn-warning nar-narr" value= "CONFIRMAR">IDENTIFICAR PACIENTE</button>
    <input name="campo_texto_rut-paciente" id="campo_texto_rut-paciente" placeholder="ej:10179892-5" value="10179892-5" type="text">
    <div style="display:none">
      <div id="nombre_login">Pepe Particular</div><div id="apellido_login" >ApellidoPaterParticular ApellidoMaterParticular</div>
      <div id="id_rut_apertura_caja" ></div><div id="id_rut_nuevoOantiguo">nuevo</div>
    </div>
  </div>
</div>